/* Navavigation Bar */		

.pageHeader nav {
	background: #4d4d4d; /* Sets light blue background */
	height: 40px;  /* Sets the height to 40px, otherwise the nav bar will look like a line */
	line-height: 30px; /* It makes the links to appear in the middle */
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px; /* Rounded Corner */
	-moz-border-radius: 5px;  /* For Mozilla browsers, same rounded corner */
	-webkit-border-radius: 5px; /* FOr Safari 5 and below, same rounded corner */
}

		
.pageHeader nav ul { 
	margin: 0 auto;
}

/* Styles for Links */

.pageHeader nav ul li {  
	float: left;  
	display: inline;   /* Makes the links to display horizontally */ 
}
	
.pageHeader nav a:link, .pageHeader nav a:visited {
	color: #fff;   /* Sets the color of the links to white */
	display: inline-block;  /* Makes the links to be displays as blocks */
	height: 30px;
	padding: 5px 23px;  /* Sets space between links */
	text-decoration: none;
}


.pageHeader nav a:hover, .pageHeader nav a:active,
.pageHeader nav .active a:link, .pageHeader nav .active a:visited {
	background: #ff6666; /* Changes the background color to dark blue */
	color: #fff;
}


/* Main Content */

.Main {
	overflow: hidden;
	line-height: 30px; /* Specifies the line height of each line */
}

.Top {
	margin-bottom: 3%;
}

.content {
	width: 70%; 
	float: left;
}


/* Side-bar Navigation */		

.top-sidebar {          /* Style applied to the Side-bar */
	width: 20%;
	float: left;
	margin-left: 2%;
	padding: 2% 3%;
	margin-bottom: 2%;
}

.navigation {       /* Style applied to the navigation list */
 	display: block;
    list-style-position: inside; 
    list-style-type: none;  /* Removes the bullets */
    margin: 0;
    padding: 0.875em 0; 
}


/* Featured Panel */		

.bottom-sidebar {   /* Style applied to side-bar */
	width: 20%;
	float: left;
	margin-left: 2%;
	padding: 2% 3%;
}

.featured {   /* Style applied to featured panel */
	background: none repeat scroll 0 0 #FFF;
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.25em;
    padding: 1.25em; 
}
	
	
/* Footer */	

/* Styles are mostly same as pageHeader */

.pageFooter {     /* Style applied to footer bar */
	width: 100%;
	height:40px;
	line-height:5px;
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #4d4d4d;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;	
}

.pageFooter p {  /* Style applied to content inside footer bar */
	width: 90%;
    margin-left: 3%;
	padding-top: 0.2%;
}


 /* Website body */
 
body {    
	clear: both; /* Clears float value */
	margin: 50px auto; 
	width: 80%;
	text-align: left;
	background-color:#FFF; /* Sets background color to light grey */
}

/* Main content area - Articles and Side-bars */

.Main {    
	background-color:#EEE; /* Sets background color to White */
	border-radius:5px;
	overflow: hidden;
	line-height: 30px;
}

/* Article contents */

.content {  
	padding-left:2%; 
}


@media only screen and (min-width : 150px) and (max-width : 780px)
{
	/* Navavigation Bar */   	

.pageHeader nav {
	background: #4d4d4d;  /* Sets light blue background */
	height: 160px;  /* Changes the height to 160px; */
	line-height: 30px;  /* It makes the links to appear in the middle */
	margin-bottom: 0;
}


.pageHeader nav ul {
	list-style: none; 
	margin: 0 auto;
	padding-left: 0;
}
	
.pageHeader nav li {
	margin-left: 0 auto;
	width: 100%;
}
	
.pageHeader nav a:link, .pageHeader nav a:visited {
	color: #FFF;
	display: block;  /* Changes the link styles from inline to block */
	height: 30px;
	padding: 5px 0;
	text-decoration: none;
}
	
	
.Main {
	overflow: hidden;
	line-height: 25px; /* Line Height reduced to 25px */
	margin-top: 3%;
	margin-bottom: 2%;
}
	
.Top {
	padding: 2% 7%;
	margin-bottom: 2%;
}
	
.Bottom {
	padding: 2% 5%;
}
	
.content {
	width: 100%;
	float: left;
}


.top-sidebar {
	width: 80%; /* Width increased to 80% */
	float: left;
	margin-top: 4%;
	margin-left: 0;
	padding: 0 7%;
}


.bottom-sidebar {
	width: 80%;  /* Width increased to 80% */
	margin-top: 2%;
	padding: 0 8%;
	margin-bottom: 0%;
}


.pageFooter {
	 width: 100%;
	 float: left;
	 margin: 2% 0;
	 background-color: #4d4d4d;
	 border-radius: 5px; 
	 color: #FFF; 
	 line-height:15px;
}
 
.pageFooter p {
	 width: 90%;
       margin: 2% auto;
}
	
	
}